body{
margin:0;
background:black;
overflow:hidden;
}

#menu{
position:absolute;
top:200px;
width:100%;
text-align:center;
color:white;
}

button{
padding:10px 20px;
font-size:20px;
}

canvas{
display:block;
margin:auto;
background:#222;
}